@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }
    .modal {
        width: 392px;
    }
    .form-field-bd input {
    width: 360px;
    }
    .menu-tel a {
        font-size: 36px;
        width: 337px;
    }
}
